{{>Partials/Header}}
<link rel="stylesheet" href="../../../public/styles/categoryView.css">

<h1 id="category-title"> {{payload.title}} </h1>
<p id="category-description"> {{payload.description}} </p>

{{#unless isCatDeleted}}
{{#if isLoggedIn}}
<div id="editInfo">
    <a class="editCatBtn" href="{{ path 'category/{id}/edit' payload.id }}">edit category</a>
    <form action="{{ path 'category/{id}' payload.id }}" method="POST" id="delete-category-form">
        <input type="hidden" name="method" value="DELETE">
        <button class="editCatBtn">delete category</button>
    </form>
</div>

{{/if}}
{{/unless}}

<table id="posts">
    <thead>
        <th>Votes</th>
        <th>Title</th>
        <th>Date Created</th>
        <th>Written By</th>
        <th>Deleted</th>
    </thead>
    <tbody>

        {{#each posts}}
            
                <tr post-id="{{id}}">
                    <td>
                        {{#if ../isLoggedIn}}
                        <button class="post-upvote-button" post-id="{{id}}">Up vote</button>
                        {{/if}} 

                        <P class="post-votes" post-id="{{id}}">{{totalVotes}}</P>

                        {{#if ../isLoggedIn}}
                        <button class="post-downvote-button" post-id="{{id}}">Down vote</button>
                        {{/if}} 

                    </td>                        
                      
                    <td> <a href="http://localhost:8000/post/{{id}}">{{ title }}</a></td>
                    <td> {{ createdAt }}</td>
                    <td> {{ user.username }}</td>
                    {{#if isDeleted}}
                    <td>Yes</td>
                    {{else}}
                    <td>No</td>
                    {{/if}}
                </tr>
            
            
            
            
        {{/each}}

  </tbody>
</table>

{{#unless isCatDeleted}}
{{#if isLoggedIn}}
<h2>Create new post</h2>
<form action={{ path 'post' }} method="POST" id="new-post-form">
    <input type="text" name="title" placeholder="Enter title">
    <input type="hidden" name="categoryId" value="{{payload.id}}">
    <select name="type">
        <option value="Text">Text</option>
        <option value="URL">Url</option>
        <option value="" selected="selected" hidden="hidden" ></option>
    </select>
    <textarea name="content" cols="30" rows="10"></textarea>
    <button>Add post</button>
</form>
{{/if}}
{{/unless}}

<script src="{{ scripts 'categoryShowView.js' }}" defer></script>
{{>Partials/Footer}}