{{>Partials/Header}}
<link rel="stylesheet" href="../../../public/styles/userView.css">

{{#if isDeleted}}
    <p>User was deleted on {{payload.deletedAt}}</p>

{{else}}

<p id="username"> {{ payload.username }} </p>
<p id="email"> {{ payload.email }} </p>
{{#if isLoggedIn}}

<h1>User Activity</h1>
<div id="userActivity">
    <button id="show-user-posts-button">My Posts</button>

    <button id="show-user-comments-button">My Comments</button>

    <button id="show-user-post-bookmarks-button">Post Bookmarks</button>

    <button id="show-user-comment-bookmarks-button">Comment Bookmarks</button>

    <button id="show-user-post-votes-button">Post Votes</button>

    <button id="show-user-comment-votes-button">Comment Votes</button>
</div>

<div id="tableResultSection">

</div>


<h1> Edit user</h1>

<form action="{{ path 'user/{id}' payload.id }}" method="POST" id="edit-user-form">
    <input type="hidden" name="method" value="PUT">
    <input type="text" name="username" placeholder="Enter new username">
    <input type="text" name="email" placeholder="Enter new email">
    <input type="text" name="password" placeholder="Enter new password">
    <button>Save Changes</button>
</form>

<form action="{{payload.id}}" method="POST" id="delete-user-form">
    <input type="hidden" name="method" value="DELETE">
    <button class="delete-button" >Delete user</button>
</form>



{{/if}}
{{/if}}



<script src="{{ scripts 'userShowView.js' }}" defer></script>
{{>Partials/Footer}}